
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" style="margin-bottom:0rem!important">
  <a class="navbar-brand" href="{%url 'home'%}">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'about'%}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'contact'%}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin ">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'add-item'%}">Add Stuff</a>
      </li>
       <li class="nav-item" style="color: red">
        <a class="nav-link" href="{%url 'login'%} " style="color: red"><b>Custom User Login</b></a>
      </li>
      <li class="nav-item" style="color: red">
        <a class="nav-link" href="{%url 'register'%}" style="color: red"><b>Custom User Register</b></a>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    {%if request.user.is_authenticated %}
    <a class="btn btn-outline-success my-2 my-sm-0" href="{%url 'auth_logout'%}" type="">Logout</a> 
    {%else%}
    {%if not  "/accounts/login" in request.get_full_path and not "login" in request.get_full_path %}
    <form class="form-inline mt-2 mt-md-0" method="POST" action="{%url 'auth_login'%}">{% csrf_token%}
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="User name" >
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" >
      <button class="btn btn-outline-success my-2 my-sm-0" href="{%url 'auth_login'%}" type="submit">Login</button>
    </form>
    <button class="btn btn-outline-success my-2 my-sm-0 form">
      {%endif%}
      <a  href="{%url 'registration_register'%}" >Register</a>&nbsp;
    
  </button>
  {%endif%}
</div>
</nav>